@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="fromUserName" />
        <input type="button" class="btn btn-primary" id="registerButton" value="Register" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" id="messageInput" /></div>
        <div class="col-1">To User</div>
        <div class="col-5"><select class="col-5" id="lstUsers"></select></div>
        <div class="col-1 mt-3 text-end">
            <input type="button" onclick="clearField()" id="sendButton" value="Send Message" class="btn btn-danger" />
        </div>
    </div>   
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/onetoone.js"></script>